[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.sc-npe-1700.discovery.spectrocloud.com
DNS.2 = *.sc-npe-1701.discovery.spectrocloud.com
DNS.3 = *.sc-npe-1702.discovery.spectrocloud.com

